@font-face {
  font-family: "logoFont";
  src: url("./assets/logoFont.otf");
}

:root {
  /* Colours */
  --dark: #1c1c21;
  --light: #f2f0e9;
  --gold: #ffb800;
  /* Fonts */
  --logo-font: "logoFont";
  --primary-font: "Nunito Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background-color: var(--dark);
  margin: 0 auto;
  font-family: var(--primary-font);
  color: var(--light);
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
}

.grain-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/black-felt.png");
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1;
}

html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

button,
button:focus,
button:active {
  background-color: unset;
  color: unset;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

/* HEADER */

header {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/hero-smallscreen.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.glass-wrapper {
  width: 80vw;
  max-width: 700px;
  height: 85vh;
  background: linear-gradient(
    177.73deg,
    #f2f0e9 23.97%,
    rgba(196, 196, 196, 0) 191.47%
  );
  /* border-radius: 15px; */
  margin: 0 auto;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}

.logo-wrapper {
  text-align: center;
}

.logo {
  position: relative;
  max-width: 550px;
}

.logo-wrapper h4 {
  position: absolute;
  bottom: 33%;
  right: 5%;
  color: var(--gold);
  text-transform: uppercase;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-weight: 800;
}

.logo-wrapper h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
}

.header-form {
  background-color: hsla(47, 26%, 93%, 0.5);
  margin: 60px auto 25px auto;
  border: 1px solid var(--dark);
  border-radius: 15px;
  width: 65vw;
  max-width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.header-form:hover {
  box-shadow: 1px 3px 4px 0px rgba(41, 41, 41, 0.3);
  background-color: hsla(47, 26%, 93%, 0.8);
}

.header-form h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}

.email {
  background-color: hsla(47, 26%, 93%, 0.9);
  border-radius: 15px;
  border: none;
  text-align: center;
  padding: 0.2rem 0;
  width: 70%;
  max-width: 300px;
  transition: all 0.2s ease-in;
}

.submit {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid var(--dark);
  text-align: center;
  padding: 0.1rem 0.5rem;
  margin: 25px 0 15px 0;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.submit:hover {
  border: 1px solid var(--gold);
}

.header-info-wrapper {
  color: var(--gold);
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  text-align: center;
}

/* MAIN */

main {
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto 150px auto;
}

.statement-wrapper {
  display: grid;
  grid-template-columns: 3fr 60px;
  grid-template-rows: repeat(3, 1fr);
  height: min-content;
  align-items: center;
  justify-items: stretch;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid var(--gold);
  margin-bottom: 100px;
}

.statements {
  text-transform: uppercase;
  text-align: right;
  padding: 25px 0;
  margin: 0 10px 50px 10px;
  font-size: 20px;
  align-self: flex-start;
}

.one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.two {
  grid-column: 1/2;
  grid-row: 2/3;
  color: var(--dark);
  -webkit-text-stroke: 1px var(--light);
}

.three {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-bottom: 0;
  color: var(--gold);
}

.exhibition {
  grid-column: 2/3;
  grid-row: 1/-1;
  width: 60px;
  height: 600px;
  align-self: flex-start;
  justify-self: center;
}
.exhibition h2 {
  transform: rotate(90deg);
  transform-origin: 0 100%;
  text-transform: uppercase;
  width: max-content;
  color: var(--gold);
  font-size: 35px;
  position: relative;
  margin-top: -15px;
}

.exhibition h2::after {
  content: "";
  background-color: var(--gold);
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 50%;
  right: -101%;
}

.main-description-wrapper {
  padding: 50px 0;
  position: relative;
}

.description {
  background: var(--gold);
  width: 85vw;
  max-width: 800px;
  height: min-content;
  margin: 0 auto;
}

.description p {
  color: var(--dark);
  padding: 1.5rem;
  font-weight: 600;
}

.main-description-wrapper::before {
  position: absolute;
  display: block;
  top: -100px;
  left: 50%;
  content: "";
  background-color: var(--gold);
  width: 4px;
  height: 100%;
  z-index: -1;
}

.video-wrapper {
  margin: 100px auto 100px auto;
  width: 100%;
  max-width: 1000px;
}

.last-statement-wrapper {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 100px auto;
}

.last-statement {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  margin: 50px auto;
}

.text-stroke {
  color: var(--dark);
  -webkit-text-stroke: 1px var(--light);
}

.gold {
  color: var(--gold);
}

.statement-form {
  background-color: var(--gold);
  color: var(--dark);
  margin: 60px auto 25px auto;
  padding: 1.5rem 0;
  border-radius: 15px;
  width: 65vw;
  max-width: 450px;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease-in;
  cursor: pointer;
  text-align: center;
}

.statement-form h4 {
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
}

@media (min-width: 500px) {
  /* HEADER */

  header {
    margin-bottom: 200px;
  }

  .logo-wrapper h4 {
    font-size: 25px;
    bottom: 32%;
  }

  .logo-wrapper h1 {
    font-size: 40px;
  }

  .header-info-wrapper {
    font-size: 25px;
  }

  /* MAIN */

  .statement-wrapper {
    margin-bottom: 200px;
  }

  .statements {
    font-size: 35px;
    margin: 0 30px 200px 30px;
    line-height: 1.8em;
  }

  .exhibition {
    height: 800px;
    width: 100px;
  }

  .exhibition h2 {
    font-size: 50px;
    margin-top: -25px;
  }

  .exhibition h2::after {
    width: 150%;
    height: 4px;
    bottom: 50%;
    right: -151%;
  }

  .main-description-wrapper {
    padding: 100px 0;
  }

  .main-description-wrapper::before {
    top: -200px;
  }

  .description p {
    padding: 2rem;
    font-size: 20px;
    line-height: 1.8rem;
  }

  .last-statement-wrapper {
    margin: 0 auto 200px auto;
  }

  .last-statement {
    font-size: 30px;
    margin: 100px auto;
  }

  .statement-form h4 {
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  header {
    background-image: url("./images/hero-largescreen.jpg");
  }
}

@media (min-width: 1100px) {
  /* HEADER */
  header {
    margin-bottom: 200px;
  }

  .glass-wrapper {
    height: 90vh;
  }

  .logo-wrapper h4 {
    font-size: 30px;
    bottom: 35%;
  }

  .logo-wrapper h1 {
    font-size: 50px;
  }

  /* .header-info-wrapper {
    font-size: 25px;
  } */

  .header-form h2 {
    font-size: 18px;
  }

  .header-form input {
    font-size: 15px;
  }

  /* MAIN */

  .statement-wrapper {
    margin-bottom: 250px;
  }

  .statements {
    font-size: 50px;
    margin: 0 60px 250px 60px;
  }

  .exhibition {
    height: 900px;
    width: 150px;
  }

  .exhibition h2 {
    font-size: 70px;
    margin-top: -45px;
  }

  .exhibition h2::after {
    width: 150%;
    height: 4px;
    bottom: 50%;
    right: -151%;
  }

  .main-description-wrapper::before {
    top: -250px;
  }

  .last-statement-wrapper {
    margin: 0 auto 250px auto;
  }

  .last-statement {
    font-size: 40px;
    margin: 150px auto;
  }
}

@media (min-width: 1300px) {
  main {
    border: 1px solid var(--gold);
  }

  .one {
    padding-top: 150px;
  }

  .exhibition h2 {
    margin-top: 75px;
  }

  .exhibition h2::after {
    width: 150%;
    height: 4px;
    bottom: 50%;
    right: -151%;
  }
}
