:root {
  /* Colours */
  --dark: #1c1c21;
  --light: #f2f0e9;
  --gold: #ffb800;
  /* Fonts */
  --primary-font: "Nunito Sans", sans-serif;
  /* Opening-animations */
  --opening-element-wait-time: 500ms;
  --opening-element-load-time: 500ms;
  --glass-wrapper-wait-time: 1500ms;
  --glas-wrapper-load-time: 500ms;
  --logo-wait-time: 2000ms;
  --logo-load-time: 250ms;
  --h2-wait-time: 2250ms;
  --h2-load-time: 250ms;
  --h1-wait-time: 2500ms;
  --h1-load-time: 250ms;
  --h3-wait-time: 2750ms;
  --h3-load-time: 250ms;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background-color: var(--dark);
  margin: 0 auto;
  font-family: var(--primary-font);
  color: var(--light);
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
}

.grain-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("./assets/black-felt.png");
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
}

html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

button,
button:focus,
button:active {
  background-color: unset;
  color: unset;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

/* HEADER */

.opening-element {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;

  /* transform: translateY(0); */
  animation: opening var(--opening-element-load-time) ease-in
    var(--opening-element-wait-time);
  animation-fill-mode: forwards;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/hero-smallscreen.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.glass-wrapper {
  width: 80vw;
  max-width: 700px;
  height: 80vh;
  background: linear-gradient(
    177.73deg,
    #f2f0e9 23.97%,
    rgba(196, 196, 196, 0) 191.47%
  );
  /* border-radius: 15px; */
  margin: 0 auto;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;

  transform: scaleX(0);
  animation: glass-wrapper var(--glas-wrapper-load-time) ease-in
    var(--glass-wrapper-wait-time);
  animation-fill-mode: forwards;
}

.logo-wrapper {
  text-align: center;
  text-transform: uppercase;
}

.logo {
  position: relative;
  max-width: 550px;

  animation: headers var(--logo-load-time) ease-in var(--logo-wait-time);
  animation-fill-mode: forwards;
  opacity: 0;
}

.logo-wrapper h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  animation: headers var(--h2-load-time) ease-in var(--h2-wait-time);
  animation-fill-mode: forwards;
  opacity: 0;
}

.subtitle-wrapper {
  text-align: center;
  text-transform: uppercase;
}

.subtitle-wrapper h1 {
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 20px;
  animation: headers var(--h1-load-time) ease-in var(--h1-wait-time);
  animation-fill-mode: forwards;
  opacity: 0;
}

.subtitle-wrapper h3 {
  font-weight: 300;
  font-size: 20px;
  animation: headers var(--h3-load-time) ease-in var(--h3-wait-time);
  animation-fill-mode: forwards;
  opacity: 0;
}

/* MAIN */

main {
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto 150px auto;
}

.statement-wrapper {
  display: grid;
  grid-template-columns: 3fr 60px;
  grid-template-rows: repeat(3, 1fr);
  height: min-content;
  align-items: center;
  justify-items: stretch;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid var(--gold);
  margin-bottom: 100px;
}

.statements {
  text-transform: uppercase;
  text-align: right;
  padding: 25px 0;
  margin: 0 10px 50px 10px;
  font-size: 20px;
  align-self: flex-start;
  opacity: 0;
  transition: all 500ms ease-out;
}

.one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.two {
  grid-column: 1/2;
  grid-row: 2/3;
  color: var(--dark);
  -webkit-text-stroke: 1px var(--light);
}

.three {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-bottom: 0;
  color: var(--gold);
}

.active-statements {
  opacity: 1;
}

.exhibition {
  grid-column: 2/3;
  grid-row: 1/-1;
  width: 60px;
  height: 600px;
  align-self: flex-start;
  justify-self: center;
}
.exhibition h2 {
  transform: rotate(90deg);
  transform-origin: 0 100%;
  text-transform: uppercase;
  width: max-content;
  color: var(--gold);
  font-size: 35px;
  position: relative;
  margin-top: -15px;
}

.exhibition h2::after {
  position: absolute;
  display: block;
  bottom: 50%;
  right: -101%;
  content: "";
  background-color: var(--gold);
  width: 100%;
  height: 1px;
  z-index: -1;
}

.main-description-wrapper {
  padding: 50px 0;
  position: relative;
}

.description {
  background: var(--gold);
  width: 85vw;
  max-width: 800px;
  height: min-content;
  margin: 0 auto;
  opacity: 0;
  transform: scaleX(0);
  transition: all 500ms ease-in;
  transition-delay: 250ms;
}

.active-description {
  opacity: 1;
  transform: scaleX(1);
}

.description p {
  color: var(--dark);
  padding: 1.5rem;
  font-weight: 600;
}

.mission {
  opacity: 0;
  transition: all 250ms ease-in;
  transition-delay: 750ms;
}

.active-mission {
  opacity: 1;
}

/* .main-description-wrapper::before {
  position: absolute;
  display: block;
  top: -100px;
  left: 50%;
  content: "";
  background-color: var(--gold);
  width: 1px;
  height: 100%;
  z-index: -1;
} */

.description-design {
  position: absolute;
  display: block;
  top: -100px;
  left: 50%;
  content: "";
  background-color: var(--gold);
  width: 1px;
  height: 150px;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 250ms ease-in;
}

.active-description-design {
  transform: scaleY(1);
}

.video-wrapper {
  margin: 100px auto 150px auto;
  width: 100%;
  max-width: 1000px;
}

.form-container {
  width: 100%;
  margin: 0 auto 150px auto;
  text-align: center;
  position: relative;
  background-color: var(--gold);
  width: 85%;
  height: max-content;
  max-width: 600px;
  color: var(--dark);
  border-radius: 15px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 500ms ease-in;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
  cursor: pointer;
  opacity: 0;
  transition: all 250ms ease-in;
  transition-delay: 500ms;
}

.active-form-container {
  opacity: 1;
  transform: scaleX(1);
}

.active-form {
  opacity: 1;
}

form h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 15px;
}

.email {
  border: none;
  border-radius: 15px;
  text-align: center;
  background-color: var(--light);
  margin-bottom: 15px;
  padding: 0.2rem 1.5rem;
}

.submit {
  border: 1px solid var(--dark);
  border-radius: 15px;
  padding: 0.1rem 0.5rem;
  background-color: var(--light);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}

.submit:hover {
  opacity: 1;
}

/* FOOTER */

footer {
  width: 100vw;
  height: max-content;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-info {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--gold);
  margin: 0 auto 50px auto;
}

.footer-logo {
  width: 150px;
}

.icon {
  color: var(--gold);
  font-size: 30px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.icon:hover {
  transform: scale(1.1);
}

.law-section {
  width: 100%;
  max-width: 600px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.law-section p {
  padding: 0.5rem;
}

@media (min-width: 500px) {
  /* HEADER */

  header {
    margin-bottom: 200px;
  }

  .logo-wrapper h2 {
    font-size: 30px;
  }

  .subtitle-wrapper h1 {
    font-size: 45px;
    padding-bottom: 45px;
  }

  .subtitle-wrapper h3 {
    font-size: 30px;
  }

  /* MAIN */

  .statement-wrapper {
    margin-bottom: 200px;
  }

  .statements {
    font-size: 35px;
    margin: 0 30px 200px 30px;
    line-height: 1.8em;
  }

  .exhibition {
    height: 800px;
    width: 100px;
  }

  .exhibition h2 {
    font-size: 50px;
    margin-top: -25px;
  }

  .exhibition h2::after {
    width: 150%;
    bottom: 50%;
    right: -151%;
  }

  .main-description-wrapper {
    padding: 100px 0;
  }

  /* .main-description-wrapper::before {
    top: -200px;
  } */

  .description-design {
    top: -200px;
    height: 300px;
  }

  .description p {
    padding: 2rem;
    font-size: 20px;
    line-height: 1.8rem;
  }

  .last-statement-wrapper {
    margin: 0 auto 200px auto;
  }

  .last-statement {
    font-size: 30px;
    margin: 100px auto;
  }

  .statement-form h4 {
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  header {
    background-image: url("./images/hero-largescreen.jpg");
  }
}

@media (min-width: 1100px) {
  /* HEADER */
  header {
    margin-bottom: 200px;
  }

  .glass-wrapper {
    height: 90vh;
  }

  .subtitle-wrapper h1 {
    font-size: 50px;
    padding-bottom: 45px;
  }

  /* MAIN */

  .statement-wrapper {
    margin-bottom: 250px;
  }

  .statements {
    font-size: 50px;
    margin: 0 60px 250px 60px;
  }

  .exhibition {
    height: 900px;
    width: 150px;
  }

  .exhibition h2 {
    font-size: 70px;
    margin-top: -45px;
  }

  .exhibition h2::after {
    width: 150%;
    bottom: 50%;
    right: -151%;
  }

  /* .main-description-wrapper::before {
    top: -250px;
  } */

  .description-design {
    top: -250px;
    height: 350px;
  }

  .video-wrapper {
    margin: 100px auto 200px auto;
  }
}

@media (min-width: 1300px) {
  main {
    border: 1px solid var(--gold);
  }

  .one {
    padding-top: 150px;
  }

  .exhibition h2 {
    margin-top: 75px;
  }

  .exhibition h2::after {
    width: 150%;
    bottom: 50%;
    right: -151%;
  }
}

/* ANIMATIONS */

@keyframes opening {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes glass-wrapper {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes headers {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
